$base: #1e1e2e;
$mantle: #181825;
$surface0: #313244;
$surface1: #45475a;
$surface2: #585b70;
$text: #cdd6f4;
$rosewater: #f5e0dc;
$lavender: #b4befe;
$red: #f38ba8;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$blue: #89b4fa;
$mauve: #cba6f7;
$flamingo: #f2cdcd;

* {
  all: unset;

  color: $text;
  font-size: 16px;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@mixin background-0 {
  background-color: $mantle;
}

@mixin rounded-full {
  border-radius: 9999px;
}

.bar {
  @include background-0;
  font-weight: bold;

  .bar-widget {
    @include rounded-full;
    background-color: transparent;

    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;

    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0em;
    padding-bottom: 0em;

    &:hover {
      box-shadow: inset 0 0 0 100px $surface0;
    }

    .workspaces {
      padding-top: 0.870em;
      padding-bottom: 0.870em;


      .workspace-indicator {
        @include rounded-full;

        padding: 0.25em;

        margin-left: 0.25em;
        margin-right: 0.25em;
        margin-bottom: -0.20em;
        margin-top: -0.20em;

        background-color: scale-color($surface2, $lightness: 20%);

        &.active {
          padding: 0.35em;
          padding-left: 1.4em;

          margin-bottom: -0.30em;
          margin-top: -0.30em;

          background-color: $text;
        }
      }

    }

    .time {
      font-weight: bold;
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }

    .status-indicators {
      .status-indicator {
        margin-left: 0.4em;
        margin-right: 0.4em;
      }
    }
  }
}

.quicksettings {
  @include background-0;
  @include rounded-full;

  padding: 2em;
  margin: 2em;
}